name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build the Docker image
      run: |
        docker build . -t my-image:latest

    - name: Save Docker image to TAR file
      run: |
        docker save my-image:latest -o my-image.tar

    - name: Upload image tar as artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: my-image.tar
